/*
 * ¸²¸ÇÏµÍ³Í¼±ê
 */
.tree-folder{
	background:url('customIcon/folderClosed.gif') no-repeat center center;
}
.tree-folder-open{
	background:url('customIcon/folderOpen.gif') no-repeat center center;
}
.tree-file{
	background:url('customIcon/leaf.gif') no-repeat center center;
}

.icon-close{
	background:url('customIcon/close.png') no-repeat center center;
}

.move-delete{
	background:url('customIcon/move_delete.gif') no-repeat center center;
}

.hey-ajax{
	background:url('customIcon/ajax.gif') no-repeat center center;
}

