.tree-folder{
	background:url('customIcon/folderClosed.gif') no-repeat center center;
}
.tree-folder-open{
	background:url('customIcon/folderOpen.gif') no-repeat center center;
}
.tree-file{
	background:url('customIcon/leaf.gif') no-repeat center center;
}