	
	.footer{
		text-align: center;
		height:40px;  
	    line-height:40px;  
	    overflow:hidden;  
	}
	
	.divCenter {
		text-align: center;
	}
	/**
	 * ----------------登陆页面----------------------------
	 */
	#formLogin .ui-field-contain label{
		width: 60px;
		display: inline-block;
		text-align: right;
	}
	
	#login {
		float: left;
		margin-left: 40px;
	}
	
	#reset {
		float: right;
		margin-right: 40px;
	}
	/**
	 * ----------------注册页面----------------------------
	 */
	#footer{
		text-align: center;
		height:40px;  
	    line-height:40px;  
	    overflow:hidden;  
	}
	
	#formReg .ui-field-contain label{
		width: 80px;
		display: inline-block;
		text-align: right;
	}
	
	/**
	 * ----------------主页面----------------------------
	 */
	#formSearch {
		display: inline-block;
	}
	#formSearch input {
	}
	
	/**
	 * ----------------添加文章页面---------------------------
	 */
	
	