
.ID_mainContent{
	margin-top:20px;
	margin-left: 0px;
	height: 100%;
}

.CLS_mainContentDivHegiht{
	height: 30px;
}

.data_label_width{
	width: 100px;
	display:inline-block;
	text-align: right;
}

#ID_fieldContent .input_width{
	width: 60px;
}

#ID_fieldContent ul li{
	list-style: none;
}