<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!--spring filter encode --> 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter> 
	<filter-mapping>
		<filter-name>encodingFilter </filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	
	<!-- filter encode 
	<filter>
		<filter-name>filterEncode</filter-name>
		<filter-class>com.freedom.search.web.filter.FilterEncode</filter-class>
		<init-param>
			<param-name>encode</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filterEncode</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	-->
	
	<!-- filter user -->
	<filter>
		<filter-name>userFilter</filter-name>
		<filter-class>com.freedom.search.web.filter.FilterUser</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	
	<!-- session question -->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
	
	 <!-- spring配置文件 -->
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath:spring/applicationContext.xml</param-value>
  	</context-param>
	
	<!-- Spring config -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- 恢复临时索引监听器 -->
	<listener>
		<listener-class>com.freedom.search.web.listener.TempIndexRecoverListener</listener-class>
	</listener>

	<!-- spring web config -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/config/spring_mvc.xml,classpath*:admin/spring/config/admin_spring_mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<!-- init Index Page -->
	<servlet>
		<servlet-name>initIndexPageServlet</servlet-name>
		<servlet-class>com.freedom.search.web.servlet.InitIndexPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initIndexPageServlet</servlet-name>
		<url-pattern>/servlet/initIndexPage.do</url-pattern>
	</servlet-mapping>
	
	<!-- into admin manager page -->
	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.freedom.search.admin.web.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<!-- image upload servlet -->
	<servlet>
		<servlet-name>ImageUploadServlet</servlet-name>
		<servlet-class>com.freedom.search.admin.web.servlet.ImageUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageUploadServlet</servlet-name>
		<url-pattern>/servlet/imageUploadServlet</url-pattern>
	</servlet-mapping>
	
	<!-- error 404 page 
	<error-page>
    	<error-code>404</error-code>
    	<location>/servlet/initIndexPage.do</location>
	</error-page>
	-->
	<!-- error 500 page
	<error-page>
    	<error-code>500</error-code>
    	<location>/servlet/initIndexPage.do</location>
	</error-page>
	 -->
	<!-- default Index Page -->
	<welcome-file-list>
		<welcome-file>servlet/initIndexPage.do</welcome-file>
	</welcome-file-list>

</web-app>
